body {
  margin: 0;
  padding: 0;
}
button {
  all: unset;
}

input {
  all: unset;
}

h5,
h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

figure {
  margin: 0;
}
