.btn {
  font: $desktop-buttons;
  padding: rem(10) rem(24);
  cursor: pointer;
}

.btn:active {
  transform: scale(0.97);
}

.btn--primary {
  background-color: $primary;
  border-radius: rem(40);
  color: $white;
}

.btn--dark {
  background-color: $black;
  border-radius: rem(40);
  color: $white;
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid $black;
  border-radius: rem(40);
  color: $black;
}
