.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 rem(16);
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 650px;
  }
}

@media screen and (min-width: 900px) {
  .wrapper {
    max-width: 1200px;
  }
}
