.focus {
}

.focus__content {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.focus__img {
  max-width: 100%;
  height: auto;
}

.focus__prevTitle {
  color: lighten($color: $black, $amount: 50%);
  font: $desktop-body3-semibold;
}

.focus__title {
  font: $mobile-h3;
  margin: rem(24) 0;
}

.focus__paragraph {
  font: $desktop-body1-regular;
}

@media screen and (min-width: 768px) {
}
