.footer {
  padding: 0 rem(16);
  margin-bottom: rem(40);
}
.footer__content {
  display: flex;
  flex-direction: column;
  gap: rem(24);
}

.footer h5 {
  font: $desktop-h5-black;
  margin-bottom: rem(24);
}

.footer a {
  font: $desktop-body2-regular;
  color: $black;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .footer__content {
    flex-direction: row;
    gap: rem(48);
  }

  .footer__content div {
    flex: 1;
  }
}
