.header {
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: rem(24) 0;
}

.header__nav {
  display: none;
}

.header__menu {
}

.header__link {
  color: $black;
}

.header__actions {
  display: flex;
  gap: rem(16);
}

.header__actions .btn--secondary {
  display: none;
}

@media screen and (min-width: 768px) {
}
