.header {
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(24) rem(16);
}

.header__nav {
  display: none;
}

.header__menu {
}

.header__link {
  color: $black;
}

.header__actions {
  display: flex;
}

.header__actions .btn--secondary {
  display: none;
}
