.howWorkIt {
  padding: rem(64) 0;
}

.howWorkIt__content {
  text-align: center;
}

.howWorkIt__prevtitle {
  text-align: center;
  font: $desktop-body3-semibold;
}

.howWorkIt__title {
  margin-top: rem(8);

  text-align: center;
  font: $mobile-h2;
}

.howWorkIt__image {
  max-width: 100%;
  height: auto;
  margin: rem(64) 0;
}

.howWorkIt__descriptions {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 1200px) {
  .howWorkIt__descriptions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .howWorkIt__prevtitle {
    font: $desktop-body3-semibold;
  }

  .howWorkIt__title {
    font: $desktop-h2;
  }
}
