.moreTime {
}

.moreTime__content {
  padding: 0 rem(16);
  text-align: center;
}

.moreTime__title {
  font: $mobile-h2;
}

.moreTime__paragraph {
  margin-top: rem(40);
  margin-bottom: rem(48);
  font: $mobile-h4-regular;
}
